
@media screen and (max-width: 400px){

    #search{
        height: 60px;
        width: 100%;
        display: block;
        position: fixed;
        top: 0px;
    }

    #search h1{
        display: none;
    }

    #search input[type="text"]{
        width: 200px;
        margin-top: 14px;
        margin-left: 10px;
    }

    #srch-chactr{
        color: white;
        margin-top: 0px;
    }

    #box-characters{
        width: 100%;
    }

    #box-characters .boxChart{
        width: 240px;
        height: auto;
        background: grey;
        display: flex;
        flex-direction: column;
    }
}